span {
    display: inline-block;
    width: 200px;
    text-align: left;
    
}
body {
        font-family: "Poppins", sans-serif;
        background: #f2f4f7;
    }
    body:after{
        content: "beta";
        position: fixed;
        width: 80px;
        height: 25px;
        background: #EE8E4A;
        top: 7px;
        left: -20px;
        text-align: center;
        font-size: 13px;
        font-family: sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        line-height: 27px;
        transform:rotate(-45deg);
        }
 label {
display: inline-block;
width: 70px;
margin: 5px;
text-align: left;
}
.container{
        flex-direction: column;
        padding: 2rem;
        background: #fff;
        width: 530px;
        height: 480px;
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        margin-top:120px;
        margin-left:460px;
        font-size:25px;
}
form h1{
margin-top:20px;
 color: #416ea3;
}