    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     }
    body{
    justify-content: center;
    min-height:100vh ;
    }
    ul {
        margin-top:50px;
        width:50x;
    }
    label {

        width: 200px;
        margin: 5px;
        text-align: left;
    }
    ul li {
    display: inline-block;
    list-style: none;
    width: 85px;
    height:40px ;
    z-index: 1;
}


.styled-tablebox {
    border-collapse: collapse;
    border-style: groove;
    margin: 100px 100px;
    font-size: 1.3em;
    font-family: sans-serif;
    min-width: 1200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-tablebox .tableboxhead .changebox {
    background-color: #0cb4f7;
    color: #ffffff;
    text-align: left;

}
.styled-tablebox th,
.styled-tablebox td {
    padding: 12px 15px;
}
.styled-tablebox tbody .trpages {
    border-bottom: 1px solid #dddddd;
}

.styled-tablebox tbody .trpages:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-tablebox tbody .trpages:last-of-type {
    border-bottom: 2px solid #1db6f3;
}
.styled-tablebox tbody .trpages.active-row {
    font-weight: bold;
    color: #009879;
}
.styled-tablebox tbody tr td form button.park:nth-of-type(odd){
    min-width:140px;

}