<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Grootan Parking Lot</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="/assets/css/modals.css"/>
    <link rel="stylesheet" href="/assets/css/modals2.css"/>
    <link rel="shortcut icon" href="/assets/images/favicon.ico"/>
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form  th:action="@{/customer/details}" method="post"  class="regform" th:object="${customerDetails}" >
                    <h1  class="modalheader">REGISTER FOR PARKING</h1>
                    </a><br>

                    <label class="reglable">Vehicle :</label>
                    <input type="text" class="reginput" th:field="*{vehicleNumber}"/><br/>

                    <label class="reglable">VehicleType :</label>
                    <input type="text" class="reginput" th:field="*{vehicleType}"/><br/>

                    <label class="reglable">Mail :</label>
                    <input type="text" class="reginput" th:field="*{mail}"/><br/>

                    <label class="reglable">Phonenumber :</label>
                    <input type="text"  class="reginput" th:field="*{phoneNumber}"/><br/>

                    <label class="reglable">Whatsappnumber :</label>
                    <input type="text" class="reginput" th:field="*{whatsappNumber}"/><br/><br>

                    <button  class="closing" data-dismiss="modal" ><span>Cancel</span></button>
                        <button type="submit" class="login">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>