<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body class="indexbody">
<div class="headerindex">
    <a  class="logo"> <ul class="username"  th:each="user:${user}">
        <li class="welcome" >welcome,</li><li id="username" th:text="${user.userName}">user</li></ul></a>
    <div class="header-right">
        <a class="active" href="#home">Home</a>
        <a   data-toggle="modal" data-target="#TicketModal">Ticket</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/login}">logout</a>
    </div>
</div>
<div class="indexcontainer">
<div>
    <h1></h1>
    <table class="styled-tablebox" >
        <thead class="tableboxhead">
        <tr >
            <th scope="col" class="changebox">NAME</th>
            <th scope="col" class="changebox">Address</th>
            <th scope="col" class="changebox">City</th>
            <th scope="col" class="changebox">Available</th>
            <th scope="col" class="changebox">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="result:${result}" class="trpages">
            <td th:text="${result.name}" class="indexrow"></td>
            <td th:text="${result.address}" class="indexrow"></td>
            <td th:text="${result.city}" class="indexrow"></td>
            <td th:text="${result.isEmpty}" class="indexrow"></td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Park</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="_modals :: modal('exampleModal')">modal</th:block>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>