<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Grootan Parking Lot | Login</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/assets/css/login_page.css">
    <link rel="stylesheet" href="/assets/css/beta_label.css">
    <link rel="stylesheet" href="/assets/css/car.css">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
<div class="content">
    <div class="flex-div">
        <div class="name-content">
            <h1 class="logo">Grootan Parking Lot</h1>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <p>&nbsp&nbspBook your car parking on the fly</p>
        </div>
        <!-- Login form--->
        <form class="login-form" th:action="@{/login}" method="post" >
            <div class = "form-group" style=" position: relative">
                <label for ="username"></label>
                <img class="user_icon" src="https://img.icons8.com/external-those-icons-lineal-those-icons/24/undefined/external-user-maps-locations-those-icons-lineal-those-icons.png"/>
                <input type="text" class = "form-control" id ="username" name = "username"
                       placeholder="Username or Email" required autofocus="autofocus">
            </div>
            </br>
            <div class="form-group" style="position: relative">
                <label for="password"></label>
                <span class="pass_icon"><img src="https://img.icons8.com/ios/24/undefined/password--v1.png"/> </span>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required/>
                <span class="pass_eye"><img src="https://img.icons8.com/material-outlined/24/undefined/visible--v1.png" id="togglePassword" onclick="toggle()"/></span>
            </div>
            </br>
            <button type="submit" class="login">Login</button>
            <a href="#">Forgot Password ?</a><br/>
            <a class="create-account" href="/registration">Create new account</a>
        </form>
    </div>
</div>
<!-- error message -->
<div th:if="${param.error}">
    <div class="incorrect-alert">
        <span class="close-button" onclick="this.parentElement.style.display='none';">&times;</span>
        Invalid username or password
    </div>
</div>
<!-- For Car -->
<div class="country-wrap">
    <div class="sun"></div>
    <div class="grass"></div>
    <div class="street">
        <div class="car">
            <div class="car-body">
                <div class="car-top-back">
                    <div class="back-curve"></div>
                </div>
                <div class="car-gate"></div>
                <div class="car-top-front">
                    <div class="wind-sheild"></div>
                </div>
                <div class="bonet-front"></div>
                <div class="stepney"></div>
            </div>
            <div class="boundary-tyre-cover">
                <div class="boundary-tyre-cover-back-bottom"></div>
                <div class="boundary-tyre-cover-inner"></div>
            </div>
            <div class="tyre-cover-front">
                <div class="boundary-tyre-cover-inner-front"></div>
            </div>
            <div class="base-axcel">

            </div>
            <div class="front-bumper"></div>
            <div class="tyre">
                <div class="gap"></div>
            </div>
            <div class="tyre front">
                <div class="gap"></div>
            </div>
            <div class="car-shadow"></div>
        </div>
    </div>
    </div>
</div>
<script src="/js/toggle_password.js"></script>
</body>
</html>